/* Default Layout: 1230px and higher */
@media (min-width: 1230px) {
  header {
    height: 100vh;

    .header-down {
      bottom: 10px;
      left: 0;
      margin: 0;
      position: absolute;
      width: 100%;
    }
  }
}

/* Default Layout: 992px - 1229px */
@media (min-width: 992px) and (max-width: 1229px) {
  header {
    .header-img {
      img {
        width: 800px;
      }
    }

    .header-text {
      padding-top: ($grid-gutter-width / 2);
    }
  }

  #supporting {
    .supporting-slider-wrap {
      padding: 0 ($grid-gutter-width / 2);

      .supporting-slider {
        padding: 0 ($grid-gutter-width / 2);
      }
    }
  }
}

/* Tablet Layout: 768px - 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-default {
    .navbar-head {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left: -$navbar-padding-horizontal;

      .navbar-button {
        display: block;
      }

      .navbar-brand {
        margin-left: 0;

        &.navbar-brand-product {
          margin-left: ($grid-gutter-width / 2);
        }
      }
    }

    .navbar-body {
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.1));
      @include transition(width, .5s);
      background: #151f23;
      border-top: 1px solid $navbar-default-border;
      height: auto;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      width: 1px;

      .navbar-nav {
        margin: 0;
        width: $navbar-toggle-width;

        li {
          a {
            padding: $navbar-toggle-padding;
          }
        }
      }

      &.navbar-body-show {
        width: $navbar-toggle-width;
      }
    }

    &.btn-show {
      .navbar-head .btn-default {
        display: inline-block;
        float: right;
        margin-right: ($grid-gutter-width / 2);
      }

      .navbar-body .btn-default {
        display: none;
      }
    }
  }

  header {
    .header-img {
      display: block;
      margin: 0;
      float: none !important;

      img {
        height: auto;
        width: 100%;
      }
    }

    .header-text {
      padding: ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0;
      text-align: center;

      a {
        margin: 40px auto 20px;
      }
    }
  }

  #features {
    .row {
      .features-area {
        width: 50%;
        //float: left;

        & > div {
          //height: 300px;
        }

        &:first-child {
          //margin-right: 30px;
        }
      }

      .features-area-small {
        //width: calc(40% - 15px);
      }

      .features-area-large {
        //width: calc(60% - 15px);
      }
    }
  }

  #specifications {
    .specifications-title {
      p {
        padding: 0 ($grid-gutter-width / 2);
      }
    }

    .specifications-info {
      .row {
        div {
          padding-left: ($grid-gutter-width / 2);
          padding-right: ($grid-gutter-width / 2);
        }
      }

      .specifications-buy-wrap {
        @include transform(none);
        position: relative;
        top: unset;

        .specifications-buy {
          display: block;
          float: none;
          padding-top: $grid-gutter-width;

          h3 {
            text-align: center;
          }
        }
      }
    }
  }

  #audiopreview {
    .audiopreview-title {
      .row {
        font-size: 0;
        margin: 0;
        text-align: center;

        & > div {
          display: inline-block;
          padding: 0;
          width: calc(50% - 15px);
        }

        & > div:first-child {
          margin-right: ($grid-gutter-width / 2);
        }

        & > div:last-child {
          margin-top: ($grid-gutter-width / 2);
        }
      }
    }
  }

  #supporting {
    .supporting-slider-wrap {
      padding: 0 ($grid-gutter-width / 2);

      .supporting-slider {
        padding: 0 ($grid-gutter-width / 2);
      }
    }
  }
}

/* Wide Mobile Layout: 480px - 767px */
@media only screen and (max-width: 767px) {
  .navbar-default {
    .navbar-head {
      float: none;
      margin-right: -$navbar-padding-horizontal;
      margin-left: -$navbar-padding-horizontal;

      .navbar-button {
        display: block;
      }

      .navbar-brand-product {
        margin-left: ($grid-gutter-width / 2);
      }
    }

    .navbar-body {
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.1));
      @include transition(width, .5s);
      background: #151f23;
      border-top: 1px solid $navbar-default-border;
      height: auto;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      width: 1px;

      .navbar-nav {
        margin: 0;
        width: $navbar-toggle-width;

        li {
          a {
            padding: $navbar-toggle-padding;
          }
        }
      }

      &.navbar-body-show {
        width: $navbar-toggle-width;
      }
    }

    &.btn-show {
      .navbar-head .btn-default {
        display: inline-block;
        float: right;
        margin-right: ($grid-gutter-width / 2);
      }

      .navbar-body .btn-default {
        display: none;
      }
    }
  }

  header {
    .header-img {
      display: block;
      margin: 0;
      float: none !important;

      img {
        height: auto;
        width: 100%;
      }
    }

    .header-text {
      padding: ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0;
      text-align: center;

      a {
        margin: 40px auto 20px;
      }
    }
  }

  #features {
    .row {
      .features-area {
        float: none;
        width: 100%;
      }

      .features-area-small > div {
        //height: 220px;
      }

      .features-area-large > div {
        //height: 280px;
      }

      //.features-mid {
      //  display: table;
      //
      //  .features-area-small {
      //    display: table-header-group;
      //  }
      //
      //  .features-area-large {
      //    display: table-row-group;
      //  }
      //}
    }
  }

  #specifications {
    .specifications-title {
      p {
        padding: 0 ($grid-gutter-width / 2);
      }
    }

    .specifications-info {
      .row {
        div {
          padding-left: ($grid-gutter-width / 2);
          padding-right: ($grid-gutter-width / 2);
        }
      }

      .specifications-buy-wrap {
        @include transform(none);
        position: relative;
        top: unset;

        .specifications-buy {
          display: block;
          float: none;
          padding: $grid-gutter-width 0 0;

          h3 {
            text-align: center;
          }

          a {
            width: 100%;
          }
        }
      }
    }
  }

  #audiopreview {
    .audiopreview-title {
      .row {
        & > div {
          margin-top: ($grid-gutter-width / 2);
        }

        & > div:first-child {
          margin-top: 0;
        }
      }
    }
  }

  #supporting {
    .supporting-slider-wrap {
      padding: 0 ($grid-gutter-width / 2);

      .supporting-slider {
        padding: 0 ($grid-gutter-width / 2);

        #supporting-carousel .supporting-item .supporting-item-info h5 {
          white-space: normal;
        }
      }
    }
  }

  footer {
    height: auto;
    line-height: ($footer-height / 2);
    padding: ($grid-gutter-width / 4) 0;
    text-align: center;

    .email,
    .social {
      display: block;
      float: none !important;
    }
  }
}

/* Main nav fix */
@media only screen and (max-width: 585px) {
  .navbar-default.btn-show {
    .navbar-head {
      text-align: center;

      .btn-default {
        float: left;
        margin-left: 30px;
      }

      .navbar-brand {
        display: block;
        margin: 0;
        width: 100%;

        &:before {
          content: '';
          clear: both;
          display: table;
        }
      }
    }
  }
}

/* Main nav fix */
@media only screen and (max-width: 385px) {
  .navbar-default {
    .navbar-head {
      .navbar-brand {
        display: block;
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
  }

  header {
    padding-top: 160px;
  }
}

/* Mobile Layout: 320px - 479px */
@media only screen and (max-width: 479px) {
  header .header-text h1 {
    font-size: 50px;
  }

  #features {
    padding-top: $grid-gutter-width;

    .row {
      .features-area-small > div {
        //height: auto;
      }

      .features-area-large > div {
        //height: auto;
      }
    }
  }

  #specifications {
    padding-top: $grid-gutter-width;
  }

  #supporting {
    .supporting-slider-wrap {
      .supporting-slider {
        #supporting-carousel {
          .supporting-item {
            img {
              float: none !important;
              display: block;
              margin: 0 auto 20px;
            }

            .supporting-item-info {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

/* Small Mobile Layout: 320px */
@media only screen and (max-width: 319px) {
  .navbar-default {
    .navbar-head {
      .navbar-brand {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        min-width: inherit;
      }
    }
  }

  #audiopreview {
    padding-bottom: ($grid-gutter-width / 2);
  }

  #supporting {
    display: none;
  }
}

/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

}