/*
1. Variables
2. Main style
3. Navigation
4. Header
5. WatchVideo
6. Features
7. Specifications
8. Preview
9. Supporting
10. Footer
*/

/* 1. Variables */
$logo-img-height: 48px;
$navbar-padding-vertical: (($navbar-height - $logo-img-height) / 2);
$navbar-btn-height: 38px;
$navbar-btn-vertical: (($navbar-height - $navbar-btn-height) / 2);
$specifications-color: #666;
$specifications-btn-color: #61caff;
$footer-height: 65px;
$navbar-toggle-width: 200px;
$navbar-toggle-padding: 10px 40px;

/* 2. Main style */
.white-text {
  color: #fff !important;
}

h3 {
  color: #fff;
  font-size: ($font-size-base * 53 / 18);
  font-weight: 600;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* 3. Navigation */
.navbar-fixed-top {
  border-width: 0;
}

.navbar-brand {
  cursor: pointer;
  font-size: 0;
  line-height: $logo-img-height;
  //min-width: 300px;
  padding: $navbar-padding-vertical 0;

  img {
    display: inline;
    max-height: $logo-img-height;
  }

  &.navbar-brand-product {
    margin-right: 20px;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
}

.navbar-default {
  background: url(../images/nav_bg.png);

  .navbar-head {
    @include clearfix;
    float: left;

    .navbar-button {
      @include navbar-vertical-align(35px);
      background-color: transparent;
      background-image: none;
      border: none;
      display: none;
      float: right;
      margin-right: $navbar-padding-horizontal;
      padding: 0;
      position: relative;
      outline: none;

      svg {
        rect {
          fill: $navbar-default-link-color;
        }
      }

      &:hover,
      &:focus {
        svg {
          rect {
            fill: $navbar-default-link-hover-color;
          }
        }
      }

      &:active {
        svg {
          rect {
            fill: $navbar-default-link-active-color;
          }
        }
      }
    }

    .btn-default {
      display: none;
    }
  }

  .navbar-body {
    margin-right: -20px;

    .navbar-nav > li > a {
      font-size: ($font-size-base * 16 / 18);
    }
  }

  .btn-default {
    display: none;
    font-size: ($font-size-base * 16 / 18);
    font-weight: 700;
    line-height: 1.5em;
    margin-top: $navbar-btn-vertical;
  }

  &.non-transparent {
    @include box-shadow(0 0 25px 0 #000);
    background: #151f23;
  }

  &.btn-show .navbar-body {
    margin-right: 0;

    .btn-default {
      display: inline-block;
    }
  }
}

/* 4. Header */
header {
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 97px;

  .header-img {
    display: table;
    margin-left: -230px;
  }

  .header-text {
    padding-left: 50px;
    padding-top: 90px;

    h1 {
      font-size: ($font-size-base * 53 / 18);
      font-weight: 600;
      margin: 0;
    }

    h2 {
      font-size: $font-size-base;
      line-height: 30px;
      margin: 0 0 10px;
    }

    p {
      line-height: 30px;
    }

    a {
      //background: url(../images/BuyButton.png) no-repeat;
      //background-position-y: 0;
      //background-size: cover;
      //border: none;
      border-radius: 10px;
      //color: #695993;
      //color: #a7def0;
      display: block;
      font-size: ($font-size-base * 19 / 18);
      font-weight: 700;
      height: 58px;
      letter-spacing: .75px;
      line-height: 58px;
      margin-top: 40px;
      overflow: hidden;
      padding: 0;
      width: 234px;
      -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));

      &:hover {
        //background: transparent url(../images/BuyButton.png) no-repeat;
        //background-position-y: -58px;
        //border: none;
        //color: #a7def0;
      }

      &:active {
        //background: transparent url(../images/BuyButton.png) no-repeat;
        //background-position-y: -116px;
        //border: none;
        //color: #a7def0;
      }

      &:focus {
        //color: #a7def0;
        //background-color: transparent;
        //border: none;
        //outline: none;
      }

      &:active:hover {
        //background-color: transparent;
        //color: #a7def0;
      }
    }
  }

  .header-down {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* 5. WatchVideo */
#watchvideo {
  iframe {
    height: 56.25vw;
  }
}

/* 6. Features */
#features {
  background: url(../images/features_bg.png) no-repeat;
  background-size: contain;
  padding-top: (2 * $grid-gutter-width);

  .row {
    //@include features-columns;
    padding-left: ($grid-gutter-width / 4);
    padding-right: ($grid-gutter-width / 4);

    .features-area {
      float: left;
      padding-left: ceil(($grid-gutter-width / 4));
      padding-right: floor(($grid-gutter-width / 4));
      width: 33.3333333%;

      & > div {
        background: rgba(242, 242, 242, 0.1);
        border-radius: 8px;
        margin-top: ($grid-gutter-width / 2);
        padding: ($grid-gutter-width / 2);

        h4 {
          font-size: ($font-size-base * 28 / 18);
          margin: 0 0 10px;
          padding-left: $grid-gutter-width;
          position: relative;

          &:before {
            @include pseudo;
            @include box(34px);
            @include vertically;
            left: 0;
          }

          @each $block in boost, drive, extreme-mode, focus, pulse, widen {
            &.#{$block}-icon:before {
              background: url('../images/icon_#{$block}.png') no-repeat center;
            }
          }
        }

        p {
          line-height: 30px;
          margin: 0;
        }
      }
    }

    .features-area-small > div {
      //height: 300px;
    }

    .features-area-large > div {
      //height: 400px;
    }
  }
}

/* 7. Specifications */
#specifications {
  padding-top: (2 * $grid-gutter-width);

  .specifications-title {
    h3 {
      margin: 0 0 ($grid-gutter-width / 3);
    }

    h4 {
      line-height: 30px;
      margin: 0 0 (3 * $grid-gutter-width / 4);
      //padding: 0 (2 * $grid-gutter-width);
    }
  }

  .specifications-img {
    width: 100%;
  }

  .specifications-info {
    padding-top: $grid-gutter-width;

    .row {
      position: relative;

      div {
        padding: 0;
      }
    }

    .spec-list {
      color: $specifications-color;
      border-top: 1px solid $specifications-color;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $specifications-color;
        line-height: 47px;
        padding-left: 10px;
        position: relative;

        span {
          position: absolute;
          right: 20px;
        }
      }
    }

    .specifications-buy-wrap {
      @include vertically;

      .specifications-buy {
        display: table;
        float: right;

        a {
          @include margin-auto;
          background-color: transparent;
          border: 1px solid $specifications-btn-color;
          border-radius: 8px;
          color: $specifications-btn-color;
          display: table;
          font-size: 28px;
          font-weight: 500;
          height: 55px;
          margin-top: 40px;
          min-width: 261px;

          &:hover {
            background-color: $specifications-btn-color;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 8. Preview */
#audiopreview {
  padding-top: (1.5 * $grid-gutter-width);

  .audiopreview-title {
    h3 {
      margin-bottom: ($grid-gutter-width * 3 /4);
    }
  }
}

/* 9. Supporting */
#supporting {
  padding: $grid-gutter-width 0 0;

  .supporting-title {
    h3 {
      margin-bottom: ($grid-gutter-width * 7 / 4);
    }
  }

  .supporting-slider-wrap {
    padding: 0 ($grid-gutter-width * 7 / 4);

    .supporting-slider {
      padding: 0 ($grid-gutter-width * 6 / 4);
      position: relative;

      .next,
      .prev {
        position: absolute;
        top: 15%;

        a {
          display: table;
        }
      }

      .next {
        right: 0;
      }

      .prev {
        left: 0;
      }

      #supporting-carousel {
        .supporting-item {
          padding: 0 ($grid-gutter-width / 4);

          .supporting-item-info {
            padding-left: ($grid-gutter-width / 2);

            p {
              color: #e6e6e6;
              font-size: ($font-size-base * 26 / 18);
              font-style: italic;
              position: relative;
              text-indent: 1.5em;
              line-height: 1.35em;

              &:before,
              &:after {
                @include pseudo;
                @include box(20px, 16px);
              }

              &:before {
                background: url(../images/quotes_open.png) no-repeat;
                background-size: cover;
                left: -20px;
                top: 14px;
              }

              &:after {
                background: url(../images/quotes_close.png) no-repeat;
                background-size: cover;
                bottom: -16px;
                right: 0;
              }
            }

            h5 {
              color: #999;
              font-size: ($font-size-base * 13 / 18);
              line-height: 30px;
              margin-bottom: 0;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

/* 10. Footer */
footer {
  background-color: #141414;
  font-size: ($font-size-base * 13 / 18);
  height: $footer-height;
  line-height: $footer-height;
  margin-top: $grid-gutter-width;
  padding: 0 ($grid-gutter-width / 2);

  & > a {
    color: #61caff;

    &:hover {
      color: #fff;
    }
  }

  .copirating {
    color: #999;
    margin: 0;

    a {
      color: #999;

      &:hover {
        color: #fff;
      }
    }
  }
}